 

{% extends 'base.html' %}

{% block content %}


{% if isAuthenticated %}
<button hx-get="/execute" hx-target="#executing" hx-swap="innerHTML">get new</button>
<button hx-get="/execute1" hx-target="#executing" hx-swap="innerHTML">get best</button>
<button hx-get="/execute2" hx-target="#executing" hx-swap="innerHTML">new movies</button>
<button hx-get="/execute3" hx-target="#executing" hx-swap="innerHTML">best movies</button>
<button hx-get="/execute4" hx-target="#executing" hx-swap="innerHTML">soon_in_theaters</button>
<button hx-get="/execute5" hx-target="#executing" hx-swap="innerHTML">popular_on_hbo</button>

<button style="color: red;" hx-get="/logout" hx-swap="none">logout</button>

<div id="executing"></div>
{% endif %}

{% if data %}
<div class="current_section">
    <h3 style="color: white; margin-left: 15px; font-weight: 300;">{{ name }}</h3>
</div>
{% endif %}

<ul class="content">
    {% if data %}
        {% for title in data %}
            <li class="content-item">
                <img class="content-img" src="{{ title.image_src }}" alt="{{ title.title }}">
                <span class="content-title">{{ title.title }}</span>
                <div class="content -scores">
                    <!-- <span>&#10072;</span> -->
                    <span class="criticScore">
                        {{ title.criticScore }}
                    </span>
                    <span class="audienceScore">
                        {{ title.audienceScore }}
                    </span>
                    <!-- <span>{{ title.last_episode_date }}</span> -->
                </div>
                <span class="content-episode-date">{{ title.last_episode_date }}</span>
            </li>
        {% endfor %}
    {% else %}
        <h3 style="color: white;">Trouble loading database - please come back later.</h3>
    {% endif %}
</ul>



{% endblock %}