@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --white-theme: white;
    --main-theme: rgb(255, 255, 212);
}

/* Preemtives */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

span, a{
    color: black;
}

body, html{
    /* background-image: url('bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(0,20,36,255); */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    line-height: 0;
}

.main{
    max-width: 1600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.navbar_{
    
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.navbar-item{
    margin: 20px 15px 0px 15px;
    color: white;   
    text-align: center;
    word-wrap: break-word;
}



.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
    width: 100%;

}


.content-item{
    /* transition: scale 0.2s ease-in; */
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1 1 300px;
    flex-direction: column;
    padding-bottom: 35px;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, var(--main-theme) 50%);
    background-size: 100% 200%;
    transition:  scale 0.5s, background-position 0.5s; */
    transition: scale 0.5s;
}

.content-main{
    width: 100%;
    margin-top: 10px;
}

.content-item:hover{
    background-position: 0 -100%;
}




.content-item:not(:hover){
    filter: blur(0.2px);

}


.content-item:hover{
    scale: 1.02;
    filter: none;
}



.content-title{
white-space: none;
    width: 100%;
    display: block;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.content-img{
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}


.content-scores{
    width: 100%;
    display: flex;
    gap: 0.5rem;
}   

.content-episode-date{
    margin: 10px;
}


.criticScore{
    margin-left: 5px;
}



.criticScore,.audienceScore{
    display: flex;
    justify-content: center;
    align-items: center;
}



.criticScore::before{
    content: '';
    display: inline-block;
    background-image: url('https://img.icons8.com/?size=100&id=11860&format=png&color=000000');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.audienceScore::before{
    content: '';
    display: inline-block;
    background-image: url('https://img.icons8.com/?size=100&id=zkTZNXGR64dz&format=png&color=000000');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.ytRedirect{
    margin-left: auto;
    margin-right: 5px;
}


.footer{
    margin: 20px;
}


.footer-class{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.error_display_page{
    height: calc(100vh - 79px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media only screen and (max-width: 1065px){

    #logo{
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .navbar_{
        display: none;
    }
  }
